extractorapp/src/test/resources/wfs/wfs_1_0_0_describeFeatureType-point.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:chtopo="http://chtopo" xmlns:cite="http://www.opengeospatial.net/cite" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:nurc="http://www.nurc.nato.int" xmlns:sde="http://geoserver.sf.net" xmlns:sf="http://www.openplans.org/spearfish" xmlns:tiger="http://www.census.gov" xmlns:topp="http://www.openplans.org/topp" elementFormDefault="qualified" targetNamespace="http://www.openplans.org/spearfish">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://tc-geocat0i.bgdi.admin.ch:80/geoserver/schemas/gml/2.1.2/feature.xsd"/>
  <xsd:complexType name="archsitesType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:PointPropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cat" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="str1" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="archsites" substitutionGroup="gml:_Feature" type="sf:archsitesType"/>
</xsd:schema>
